<!-- Sidebar -->
<div id="command-wrapper" class="">
    <ul class="command-nav">
        <li class="">
            <a href="/" class="command-button"><span class="glyphicon glyphicon-home"></span></a>
        </li>
        <li class="">
            <a href="#" class="command-button"><span class="glyphicon glyphicon-wrench"></span></a>
        </li>
        <li class="">
            <a href="#" class="command-button"><span class="glyphicon glyphicon-dashboard"></span></a>
        </li>
        <li class="">
            <a href="#" class="command-button closeFloaty"><span class="glyphicon glyphicon-minus"></span></a>
        </li>
        <li class="open">
            <a href="#" class="command-button openFloaty"><span class="glyphicon glyphicon-plus"></span></a>
        </li>

    </ul>

</div>
<!-- End Sidebar -->
