<!-- Sidebar -->
<div id="command-wrapper" class="container-fluid">
    <ul class="command-nav">
        <li class="">
            <a href="/" class="command-button"><span class="glyphicon glyphicon-home"></span></a>
        </li>
        <li class="">
            <a href="#" class="command-button"><span class="glyphicon glyphicon-wrench"></span></a>
        </li>
        <li class="">
            <a href="#" class="command-button"><span class="glyphicon glyphicon-dashboard"></span></a>
        </li>
        <li class="">
            <a href="#" class="command-button"><span class="glyphicon glyphicon-thumbs-up"></span></a>
        </li>

    </ul>

</div>
<!-- End Sidebar -->