<!-- Sidebar -->
<div id="sidebar-wrapper" class="container-fluid">
    <ul class="sidebar-nav">
        <li class="sidebar-brand">
            <a href="#">
                Zuuby <span class="glyphicon glyphicon-knight"></span>
            </a>
        </li>
        <li class="col-md-6">
            <span class="sb-label">
                Home
            </span>
            <a href="/" class="sb-button"><span class="glyphicon glyphicon-home"></span></a>
        </li>
        <li class="col-md-6">
            <span class="sb-label">
                Settings
            </span>
            <a href="#" class="sb-button"><span class="glyphicon glyphicon-wrench"></span></a>
        </li>
        <li class="col-md-6">
            <span class="sb-label">
                Dashboard
            </span>
            <a href="#" class="sb-button"><span class="glyphicon glyphicon-dashboard"></span></a>
        </li>
        <li class="col-md-6">
            <span class="sb-label">
                Social Media
            </span>
            <a href="#" class="sb-button"><span class="glyphicon glyphicon-thumbs-up"></span></a>
        </li>
        <li class="col-md-6">
            <span class="sb-label">
                Links
            </span>
            <a href="#" class="sb-button"><span class="glyphicon glyphicon-link"></span></a>
        </li>
        <li class="col-md-6">
            <span class="sb-label">
                Special
            </span>
            <a href="#" class="sb-button"><span class="glyphicon glyphicon-th"></span></a>
        </li>
        <li class="col-md-6">
            <span class="sb-label">
                Contact
            </span>
            <a href="#" class="sb-button"><span class="glyphicon glyphicon-envelope"></span></a>
        </li>
    </ul>
</div>
<!-- End Sidebar -->