@charset "utf-8";

body {
  text-align: center;
  font-family: sans-serif; }

h1 {
  color: rgba(0, 0, 0, .4);
  font-weight: bold;
  font-size: 32px;
  letter-spacing: -1px;
  text-transform: uppercase;
  text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
  margin: 0;
}

/* Tooltip container */
.tt {
    /*border-bottom: 1px dotted black; If you want dots under the hoverable text*/
}

/* Tooltip text */
.tt .tooltiptext {
    top: -100%;
    left: 50%;
    margin-left: -60px; /* Use half of the width (120/2 = 60), to center the tooltip */
    visibility: hidden;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 5px;
    border-radius: 6px;
    opacity: .75;

    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tt:hover .tooltiptext {
    visibility: visible;
}
