#command-wrapper {
    padding:0;
    margin:0;
    right: 0px;
    top:33%;
    width: 5%;
    min-width: 50px;
    height: auto;
    overflow: visible;
}

/* Sidebar Styles */

.command-nav {
  border: 1px solid white;
  background: #000;
  width: 100%;
  top: 0;
  margin: 0;
  padding: 20px 0px;
  list-style: none;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.command-nav li {
    padding:5px;
}

.command-nav .command-button {
    outline: none;
    margin: auto;
    font-size: 15pt;
    display:inline-block;
    text-decoration: none;
    color: #999999;
    box-shadow: 0 0px 0px #000;

    transition: all 0.3s ease-in-out;
}

.command-nav li a:hover {
    text-decoration: none;
    color: #fff;
    transform: scale(1.2, 1.2);

}
