#command-wrapper {
  background: #000;
  border: 1px solid white;
  padding:0;
  margin:0;
  right: 0px;
  top:33%;
  width: 5%;
  height: 202px;
  overflow: visible;

  -webkit-transition: width 0.5s ease, height 0.5s ease;
  -moz-transition: width 0.5s ease, height 0.5s ease;
  -o-transition: width 0.5s ease, height 0.5s ease;
  transition: width 0.5s ease, height 0.5s ease;
}


#command-wrapper.shrink {
  height: 52px;
  width: 50px;
}

#command-wrapper.shrink .command-nav {
  padding: 0;
}

#command-wrapper.shrink .command-nav li {
  padding: 0;
  height: 0;
}

#command-wrapper.shrink .command-nav li.openFloaty {
  height: 50px;
  padding: 0;
  line-height: 50px;
}

#command-wrapper.shrink .command-nav .command-button {
  opacity: 0;
  pointer-events: none;
  cursor: default;
}

#command-wrapper.shrink .command-nav .command-button.openFloaty {
  opacity: 1;
  pointer-events: all;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

/* Sidebar Styles */

.command-nav {
  width: 100%;
  top: 0;
  margin: 0;
  padding: 20px 0px;
  list-style: none;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.command-nav li {
  height: 40px;
  padding:5px;
  transition: height 0.3s ease;
}

.command-nav .command-button {
  outline: none;
  margin: auto;
  font-size: 15pt;
  display:inline-block;
  text-decoration: none;
  color: #999999;
  transition: opacity 0.3s ease-in-out;
}

.command-nav .command-button.openFloaty {
  opacity: 0;
  pointer-events: none;
  cursor: default;
  transition: none;
}

.command-nav li.openFloaty {
  padding: 0;
  height: 0;
  transition:none;
}

.command-nav li a:hover {
    text-decoration: none;
    color: #fff;
    transform: scale(1.2, 1.2);
}
