---
title: Floaty Demo
---

<h1>
  Floaty.js
</h1>

<div id="hello"></div>

<script type="text/javascript" src="javascripts/floaty-demo.js"></script>
<%= stylesheet_link_tag "floaty-demo" %>

<script>

  floaty.addFloaty('hello');
</script>
