---
title: Floaty Demo
---

<h1>
  Floaty.js
</h1>

<div class="floaty"></div>
<div class="floaty"></div>
<div class="floaty"></div>
<div class="floaty"></div>
<div class="floaty"></div>
<div class="floaty"></div>
<div class="floaty"></div>
<div class="floaty"></div>
<div class="floaty"></div>
<div class="floaty"></div>
<div class="floaty"></div>
<div class="floaty"></div>

<script type="text/javascript" src="javascripts/floaty-demo.js"></script>
